/[Library]/
/[Temp]/
/[Obj]/
/[Build]/
/[Builds]/
/[Logs]/
/[UserSettings]/
/MemoryCaptures/
/Recording/
/[Assets]/AssetStoreTools*
.vs/
.gradle/
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
sysinfo.txt
crashlytics-build.properties
!*.meta
/[Assets]/Plugins/Android/
/[Assets]/Plugins/iOS/