/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emory[Cc]aptures/
/[Rr]ecording/

/[Ll]ibrary/PackageCache/
/[Ll]ibrary/ScriptAssemblies/
/[Ll]ibrary/ArtifactDB
/[Ll]ibrary/ShaderCache
/[Ll]ibrary/AtlasCache


.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini


sysinfo.txt
crashlytics-build.properties
ExportedObj/
.consulo/
.gradle/

/[Aa]ssets/AssetStoreTools*

/[Aa]ssets/Plugins/Android/
/[Aa]ssets/Plugins/iOS/

!*.[Mm]eta